<div class="pure-menu pure-menu-open">
  <a class="pure-menu-heading">kingdom card</a>
  {{#each cards}}
    <ul>
      <li><a class="pure-menu-heading">cost {{@key}}</a></li>
      {{#each this}}
        <li><a>{{cardName}}</a></li>
      {{/each}}
    </ul>
  {{/each}}
</table>
